@import "./fonts.scss";
@import "./colors.scss";

body {
    font-family: 'RESIN-Regular';
    background: $background;
    color: $white;
}

.navigation {
    padding-top: 42px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;

    h2 {
        font-size: 40px;
    }

    .play-pause {
        display: flex;
        font-size: 28px;
        cursor: pointer;

        .play {
            padding-right: 16px;

            &:hover {
                color: $limegreen;
            }
        }

        .mute {
            &:hover {
                color: $limegreen;
            }
        }

    }
}

.main-container {
    margin: 0 auto;
    width: 80%;
    padding-top: 80px;

    .tv-container {
        position: relative;
        margin: 20px;

        .countdown {
            position: absolute;
            top: 26%;
            left: 61.8%;
            background-color: rgba(255, 255, 255, 0.4);
            border: 4px solid #6C9A8B;
            border-radius: 50%;
            width: 40px;
            height: 40px;

            h2 {
                color: $limegreen;
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: $white;
                position: absolute;
                font-size: 32px;
                top: 0;
                font-size: 24px;

                &.ten {
                    left: 9%;
                    font-size: 25px;
                    transition: none;
                }

                &.other {
                    left: 28%;

                }
            }
        }

        .tv {
            img {
                width: 100%;
            }
        }

        .frame {
            position: absolute;
            width: 85% !important;
            height: 85% !important;
            top: 11%;
            right: 10%;
            z-index: -2;

            #widget2 {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
            }
        }
    }
}



.playlist-container {
    margin-top: 70px;
    cursor: pointer;

    .artist-container {
        padding-bottom: 42px;
        font-size: 14px;

        .artist-info {
            display: flex;
            padding-bottom: 32px;
            border-bottom: 2px solid #1F2026;
            align-items: center;

            .album {
                &.active {
                    border: 4px solid $white;
                    transition: all 300ms ease-in;
                    padding: 4px;
                }
            }

            img {
                width: 93px;
                height: 93px;
                border-radius: 32px;
            }

            .song-artist {
                padding-left: 32px;

                p {
                    line-height: 24px;
                }

                &:hover {
                    color: $limegreen;
                }
            }

            .item-id {
                margin-left: auto;
                font-size: 32px;
                color: $limegreen;
            }
        }
    }
}

@media screen and (min-width: 1520px) {
    .main-container {
        display: flex;

        .tv-container {
            margin: 0px;

            .frame {
                position: absolute;
                width: 92% !important;
                height: 24% !important;
                top: 6%;
                right: 3%;
                z-index: -2;
            }

            .countdown {
                top: 8%;
                width: 50px;
                height: 50px;

                h2 {
                    font-size: 32px;

                    &.ten {
                        left: 13%;
                        font-size: 32px;
                    }
                }
            }
        }
    }

    .playlist-container {
        padding-left: 32px;
    }
}


@media screen and (min-width: 1680px) {
    .main-container {
        display: flex;

        .tv-container {
            margin: 0px;

            .frame {
                position: absolute;
                width: 95% !important;
                height: 28% !important;
                top: 6%;
                right: 3%;
                z-index: -2;
            }

        }
    }
}