@import "./fonts.scss";
@import "./colors.scss";

body {
    font-family: 'RESIN-Regular';
    background: $background;
    color: $white;
}

.main-container {
    margin: 0 auto;
    width: 80%;
    .tv-container {
        position: relative;
        margin: 20px;
        .tv {        
            img {
                width: 100%;
            }
        }
        .frame {
            position: absolute;
            width: 85% !important;
            height: 80% !important;
            top: 16%;
            right: 10%;
            z-index: -2;
            #widget2 {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                }
            }
        }   
     }
    
    

.playlist-container {
     margin-top: 70px;
     cursor: pointer;
     .artist-container {
         padding-bottom: 42px;
         font-size: 14px;
         .artist-info {
             display: flex;
             padding-bottom: 32px;

             border-bottom: 2px solid #1F2026;    
             img {
                 width: 93px;
                 height: 93px;
                 border-radius: 32px;
             }
            .song-artist {
                padding-left: 32px;
                padding-top: 32px;
            }
         }
     }
}
